<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button routerLink="/" btn btn-link>main page</button>
  </div>
  <div class="info">
    <strong>Автор</strong>
    <small>12.12.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aspernatur consequatur consequuntur debitis ea eligendi expedita facere illum, iste laboriosam minus natus, necessitatibus neque obcaecati optio quae quas quia reprehenderit similique suscipit tempore totam voluptatibus. Aliquam beatae debitis, delectus dolores ex fugiat ipsum officia soluta tenetur veniam. Culpa, nam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aspernatur consequatur consequuntur debitis ea eligendi expedita facere illum, iste laboriosam minus natus, necessitatibus neque obcaecati optio quae quas quia reprehenderit similique suscipit tempore totam voluptatibus. Aliquam beatae debitis, delectus dolores ex fugiat ipsum officia soluta tenetur veniam. Culpa, nam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aspernatur consequatur consequuntur debitis ea eligendi expedita facere illum, iste laboriosam minus natus, necessitatibus neque obcaecati optio quae quas quia reprehenderit similique suscipit tempore totam voluptatibus. Aliquam beatae debitis, delectus dolores ex fugiat ipsum officia soluta tenetur veniam. Culpa, nam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aspernatur consequatur consequuntur debitis ea eligendi expedita facere illum, iste laboriosam minus natus, necessitatibus neque obcaecati optio quae quas quia reprehenderit similique suscipit tempore totam voluptatibus. Aliquam beatae debitis, delectus dolores ex fugiat ipsum officia soluta tenetur veniam. Culpa, nam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aspernatur consequatur consequuntur debitis ea eligendi expedita facere illum, iste laboriosam minus natus, necessitatibus neque obcaecati optio quae quas quia reprehenderit similique suscipit tempore totam voluptatibus. Aliquam beatae debitis, delectus dolores ex fugiat ipsum officia soluta tenetur veniam. Culpa, nam!</p>
  </div>
</div>
